ADMIN_PIN=
DATABASE_URL=
GEMINI_API_KEY=
KDS_PIN=
PAYMONGO_SECRET_KEY=
PAYMONGO_WEBHOOK_SECRET_KEY=
POS_PIN=
SESSION_SECRET=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
VITE_ADMIN_PIN=
VITE_KDS_PIN=
VITE_POS_PIN=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=
